/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
/* main color of website */
.primary-color {
  color: #02b290;
}
header {
  background-color: #cad5e2;
}
/* cards background */
#phone-container {
  background-color: #cad5e2;
}
/* input field empty error */
#empty-error {
  display: none;
}
/* invalid name error */
#name-error {
  display: none;
}
/* spinner */
#spinner {
  display: none;
}
/* hide details container */
#details-container {
  display: none;
}
